/* 변수 */
$bg-color: coral;
$color: white;
$padding: 20px;

// 믹스인
@mixin text-center {
    text-align: center;
}
// 상속
.border {
    border: 10px solid wheat;
}
.scss-style {
    @include text-center;
    @extend .border;
  background-color: $bg-color;
  color: $color;
  text-align: center;

  // 중첩
  h1 {
    color: darkblue;
    &:hover {
        color: wheat;
    }
  }
}

