* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: indianred;
  background: linear-gradient(purple, pink);
  height: 100vh;
  padding: 20px;
}
.square {
  position: relative;
  width: 100%;
}
#box {
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 30px;
  /*position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20px;*/
  margin: auto;
  text-align: center;
}
.animal {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 15px auto;
}
#panda {
  background-image: url(../../resources/bao.jpg);
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}
#spText {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.square a {
  border: 2px solid white;
  display: block;
  margin: 15px;
  height: 60px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px;
  text-decoration: none;
}
.pandaa img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 15px auto;
}
.square a:hover {
  background-color: white;
  color: aquamarine;
}
