header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.logo {
  display: flex;
}
.logo i {
  font-size: 20px;
  margin: 20px;
}
.logo a {
  padding: 20px 10px;
}
.search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search input {
  display: none;
}
.search button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.private {
  display: flex;
  margin-right: 20px;
}
.private button {
  background: none;
  border: none;
  font-size: 20px;
}
main {
  padding-top: 60px;
  display: flex;
}
main aside {
  display: none;
  position: fixed;
  width: 55px;
}
main aside a {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main aside a i {
  margin-bottom: 5px;
}
main aside a span {
  font-size: 0.8rem;
}
main nav {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 15px;
  align-items: center;
}
main section {
  padding-top: 50px;
}
main nav a {
  background-color: #eee;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 5px;
}
main nav a.active {
  background-color: #000;
  color: #fff;
}
/* 반응형 */
@media screen and (min-width: 655px) {
  .search {
    justify-content: center;
  }
  .search input {
    display: block;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ddd;
    width: 30%;
    max-width: 500px;
  }
  .search button {
    border: 1px solid #ddd;
    border-left: none;
    padding: 6px 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (min-width: 880px) {
  main aside {
    display: block;
    background-color: white;
  }
  main .main-content {
    padding-left: 55px;
  }
}

@media screen and (min-width: 1000px) {
  .search input {
    width: 90%;
  }
}
